<!DOCTYPE html>
<html ng-app='ShoppingListApp'>

<head>
	<meta charset="utf-8">


	<style>
		body {
			font-size: 1.5em;
		}
	</style>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Custom Service</title>

</head>

<body>
	<h1>Shopping List</h1>
	<div class="row container-fluid">

		<div class="col-md-4">
			<h3>To buy list</h3>
			<div ng-controller='ToBuyController as toBuy'>
				<ol>
					<li ng-repeat="item in toBuy.items">
						Buy {{ item.quantity }} {{ item.name }}
						<button ng-click="toBuy.moveItem($index,item.name,item.quantity )">Bought</button>
					</li>
				</ol>
				<div ng-if="toBuy.items.length === 0">Everything is bought!</div>
			</div>

		</div>

		<div class="col-md-4">
			<h3>Already Bought List</h3>
			<div ng-controller='AlreadyBoughtController as alreadyBought'>
				<ol>
					<li ng-repeat="item in alreadyBought.items">
						Bought {{ item.quantity }} {{ item.name }}
					</li>
				</ol>
				<div ng-if="alreadyBought.items.length === 0">Nothing bought yet</div>
			</div>

		</div>
	</div>




	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
	<script src="app.js"></script>
	<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
	 crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</body>

</html>